# Salin ke Vercel → Settings → Environment Variables
# Mesti sama dengan URL Web App di script.google.com → Manage deployments
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwmTlkAAGoQPBm7cWAwxGw3fQA47hKHm63xW-FhQ-L_PhnFN8D4vpkyxv7WErEUNtoJLA/exec